<!DOCTYPE html>
<html lang="en">
<head>
    <title>fullstack</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class  = "calsi">
        <h1>This Is A Calculater</h1>
        <form action="">
            <input type="number" required placeholder="Enter number1" name = "num1">
            <select name="" id="opr" form="">
                <option value="add">+</option>
                <option value="sub">-</option>
                <option value="mul">x</option>
                <option value="div">/</option>
            </select>
            <input type="number" required placeholder="Enter number2" name = "num2">
            <button type = "submit">Calculate</button>
        </form>
    </div>
</body>
</html>

